<div class="row">
    <div class="col-12 text-xl-center bg-opacity-75">
        WELCOME EXCEL FILES PARTIAL 
    </div>
    <br />
    <hr />
    <div class="col-6">
        <a class="btn btn-success w-100" asp-action="CreateExcel" asp-controller="ConvertExcel">CreateExcel</a>
    </div>
    <div class="col-6">
        <a class="btn btn-primary w-100" asp-action="Files" asp-controller="ConvertExcel">ShowExcels</a>
    </div>
</div>

